@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300&display=swap');


body   
        { background-image: linear-gradient(#8F7260,#B8A692,#B6AFA7);

                font-family: 'Great Vibes', cursive;
                font-family: 'Poppins', sans-serif;
        font-size:20px;} 

        header {
                background-color:white;
                border-radius: 10px;
                box-shadow: 5px 5px 15px #b18556;
                width: auto;
                margin: 20px;

        }
        main > p {
                text-align: center;
                background-color: white;
                border-radius: 10px;
                box-shadow: 5px 5px 15px #b18556;
                width: auto;
                padding: 10px;
                margin: 40px;
            }

            div {
                background-color: white;
                border-radius: 10px;
                box-shadow: 5px 5px 15px #b18556;
                width: auto;
                padding: 5px;
                margin: auto ;
            }

            span {
                background-color: white;
                border-radius: 10px;
                box-shadow: 5px 5px 15px #b18556;
                width: auto;
                padding: 5px;
                margin: 20px ;
            }
            
h1
{color: #A88E6F;}

p{color: black;}

footer { text-align: center;
        background-color: white;
                border-radius: 10px;
                box-shadow: 5px 5px 15px #b18556;
                width: 1216px;
                padding: 10px;
                margin: auto;
}