@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300&family=Tiro+Devanagari+Hindi&display=swap');


body   
        { background-image: linear-gradient(#8F7260,#B8A692,#B6AFA7);
          font-family: 'Great Vibes', cursive;
          font-family: 'Poppins', sans-serif;
          font-size:20px
          
                
        } 
        
h1
        {
          color: #A88E6F;
        }

p       
        {
          color: black;
        }


header
        { font-family: font-family: 'Tiro Devanagari Hindi', serif;
          text-align: center;
          background-color:white;
          border-radius: 10px;
          box-shadow: 5px 5px 15px #b18556;
          width: auto;
        }

#menu {
        text-align: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #b18556;
        width: 1250px;
        height: auto;
        padding: 20px;
        margin: auto;
      
}

.definicao
        {
          text-align: justify;
          background-color: white;
          border-radius: 10px;
          box-shadow: 5px 5px 15px #b18556;
          width: 600px;
          padding: 15px;
          margin: 15px;
        }

.definicao {display: none;}
span > p { display: block;}
.definicao:hover {display: block;}

span    { 
          background-color: white;
          border-radius: 10px;
          box-shadow: 5px 5px 15px #b18556;
          width: auto;
          padding: 5px;
          margin: 20px ;
        }

div     {
          text-align: center;
          background-color: white;
          border-radius: 10px;
          box-shadow: 5px 5px 15px #b18556;
          width: 1250;
          padding: 10px 10px 5px 10px;
          margin: 20px ;
        }
            
footer  {
          text-align: center;
          background-color: white;
          border-radius: 10px;
          box-shadow: 5px 5px 15px #b18556;
          width: 640px;
          padding: 1px;
          margin: auto;
        }

a       { 
          text-decoration: none; 
        }

a:link  { 
          color: rgb(0, 0, 0)
        } 

a:visited{
          color: rgb(211, 61, 248) 
        } 

a:hover { text-decoration: underline;
          font-weight: bold; 
        } 

        .oculto {
                color: #b18556;
                text-align: justify;
                height: 50px;
                weight: 50px}